.sidebar-container {
  // position: sticky;
  // top: 0;
  height: 100vh;
  width: 15rem;
  background-color: #e7e7e7;
  overflow-y: auto;
  flex-shrink: 0;

  .channel-list {
    display: flex;
    flex-direction: column;
  }
}
