.landing-container {
  width: 30vw;

  .header {
    text-align: center;
    margin-top: 1em;
  }

  .paragraph {
    text-align: center;
    margin: 1em 2em 2em;
  }

  a + a {
    margin-left: 2em;
  }

  .test {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 5%;
    margin-bottom: 1em;
  }

  h1 {
    font-weight: 700;
  }
}

.welcome-container {
  width: 40vw;
  margin: 10vh auto 0;
}
