.header {
  text-align: center;
  margin-top: 10%;
}

.paragraph {
  text-align: center;
  margin-right: 30%;
  margin-left: 30%;
  margin-top: 3%;
}

// .btn {
//   display: table;
//   margin: 0 auto;
// }

.test {
  margin-top: 5%;
}

.div {
  border-style: solid;
  border-width: 1px;
  border-color: gray;
  border-radius: 25px;
  width: 50%;
  margin: 0 auto;
  margin-top: 3%;
}