.login-form-container {
  margin: 25vh auto 0;
  width: 17rem;
  padding: 2em;
  border-radius: 0.5em;
  border: 1px solid var(--bs-border-color-translucent);
  box-sizing: content-box;

  .login-form-error {
    color: #7f1616;
    background-color: #f0bcbc;
    padding: 0.5em 1em;
    border-radius: 0.5em;
  }
}
